/* * {
  outline: 5px dotted orange;
} */

main > ul {
  width: 900px;
  margin: 0 auto;
  margin-top: 200px;
}

main > ul:first-child > li {
  float: left;
}

main > ul > li > img {
  width: 300px;
  height: 300px;
  outline: 5px solid orange;
}